registry=https://pkgs.dev.azure.com/RubenPerpetua/_packaging/devopsFeed/npm/registry/
                        
always-auth=true
; begin auth token
//pkgs.dev.azure.com/RubenPerpetua/_packaging/RubenPerpetua/npm/registry/:username=RubenPerpetua
//pkgs.dev.azure.com/RubenPerpetua/_packaging/RubenPerpetua/npm/registry/:_password=ZHp5a25nb2phZjRqM3hsdWRtYjYzdXVyYWZtNmIzNWl5MzN2YnNyd3A1b2VwZ3lyNDdvYQ==
//pkgs.dev.azure.com/RubenPerpetua/_packaging/RubenPerpetua/npm/registry/:email=ruben.perpetua@diconium.com
//pkgs.dev.azure.com/RubenPerpetua/_packaging/RubenPerpetua/npm/:username=RubenPerpetua
//pkgs.dev.azure.com/RubenPerpetua/_packaging/RubenPerpetua/npm/:_password=ZHp5a25nb2phZjRqM3hsdWRtYjYzdXVyYWZtNmIzNWl5MzN2YnNyd3A1b2VwZ3lyNDdvYQ==
//pkgs.dev.azure.com/RubenPerpetua/_packaging/RubenPerpetua/npm/:email=ruben.perpetua@diconium.com
; end auth token